body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../사진/레스토랑사진.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
}
#home-button {
    position: absolute;
    left: calc(18.7rem);
    top: 0.2rem; /* 현재 위치에서 위로 0.5rem 이동 */
    padding: 0.5rem 1rem;
    font-size: 1.85rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#home-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categories {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
}

.categories li {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.category-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.categories li:hover .dropdown {
    display: block;
}

.dropdown li {
    text-align: center;
    padding: 10px 0;
}

.dropdown li a {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown li a:hover {
    color: black;
}

#recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 2rem);
    padding: 1rem;
}

.recipe-card h2 {
    margin-top: 0;
}

.recipe-card p {
    margin-bottom: 0.5rem;
}

.dropdown li:hover {
    background-color: white; /* 원하는 색상으로 변경 */
    color: black;
}

