body, p {margin: 0;}
body {scrollbar-width: none;}
::-webkit-scrollbar {display: none;}


#container {
    width: 100%;
    height: 150vh;
    background: #e7f1ff;
    overflow-y: hidden;
}

#top {
    margin: 0;
    width: 100%;
    height: 8vh;
    background-color: #cad9fd;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon {
    margin: 0;
    position: absolute;
    left: 2%;

}

#menu {
    width: 30vw;
    position: absolute;
    right: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu div{margin: 0 1vw 0 1vw;}


#mid {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#banner {
    width: 60%;
    height: 56vh;
    background-color: #eefaee;
    overflow: hidden;
    position: relative;
    top: 4vh;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    animation: slideIn 1s forwards;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}