#bot {
    width: 100%;
    height: 40vh;
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: center;
}

#botLeft,
#botRight {
    width: 44%;
    height: 100%;
    /*background-color: #7ad5ec;*/
    display: flex;
}

#botLeft {
    flex-direction: row;
    justify-content: space-around;

}
#botRight {background-color: yellow;}

#botLeft #manTop,
#botLeft #womanTop {
    width: 20vh;
    min-width: 310px;
    /*max-width: 400px;*/
    aspect-ratio: 1 / 1.2;
    background-color: #baba6e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5vw;
}

.gender {
    width: 100%;
    height: 5vh;
    font-size: 1.2vw;
    background-color: #99d3b6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}

.menuContainer {
    margin: 1.2vw 0 0 0;
    width: 25vh;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu {
    width: 25vh;
    height: 25vh;
    display: flex;
    overflow: hidden;
}
.manMenu img {
    width: 25vh;
    height: 25vh;
}

