img {
    width: 370px;
    height: 500px;
    border-radius: 20px;
}

.container {
    margin-left: 100px;
    margin-top: 100px;
    width: 370px;
    height: 500px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: all 0.5s;
}

.prev-button {
    margin-left: 250px;
}

.prev-button,
.next-button {
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
}