body {
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

a:link {

    color: black;
}

a:visited {

    color: black;
}

#container {
    height: 1920px;
    width: 100%;
    background-color: white;
}

#main {
    height: 1920px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#top {

    height: 900px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}

#title {

    height: 250px;
    width: 1800px;
    background-color: white;
    font-size: 180px;
    letter-spacing: 10px;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 60px;
}

#mid {

    height: 700px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#choice {

    height: 400px;
    width: 1500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu {

    height: 300px;
    width: 300px;
}

.menu_bt {

    height: 300px;
    width: 300px;
    font-size: 90px;
    background-color: darkorange;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


#bot {

    height: 1100px;
    width: 100%;
}


