body {
    margin: 0;
    border: 0;
}

a {text-decoration: none;}

a:link {color: black;}

a:visited {color: black;}

#container {
    height: 100vh;
    width: 100%;
    background-color: white;
}

#main {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#top {
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}

#title {
    height: 300px;
    width: 100%;
    background-color: white;
    font-size: 5vw;
    letter-spacing: 10px;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
}

#title1 {
    animation: titleFont 1.5s 0s forwards;
    opacity: 0;
}

#title2 {
    animation: titleFont 1.5s 1s forwards;
    opacity: 0;
}

#title3 {
    animation: titleFont 1.5s 2s forwards;
    opacity: 0;
}

#mid {
    height: 800px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
}

#choice {
    height: 400px;
    width: 1300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0 0 0;
}

.menu {
    height: 200px;
    width: 200px;
}

.menu_bt {
    height: 200px;
    width: 200px;
    font-size: 3vw;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.45s;
    -webkit-transition: 0.45s;
}


.menu_bt:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}

@keyframes titleFont {
    from {
        transform: translateY(-200%);
        opacity: 0;
    }
    to {
        transform: translateY(10%);
        opacity: 1;
    }
}
