body, p {margin: 0;}
body {scrollbar-width: none;}
::-webkit-scrollbar {display: none;}


#container {
    width: 100%;
    height: 150vh;
    background: #e7f1ff;
    overflow-y: hidden;
}

#top {
    margin: 0;
    width: 100%;
    height: 8vh;
    background-color: #cad9fd;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#icon {
    margin: 0;
    position: absolute;
    left: 2%;

}

#menu {
    width: 30%;
    position: absolute;
    right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#mid {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#banner {
    width: 60%;
    height: 56vh;
    background-color: #eefaee;
    overflow: hidden;
    position: relative;
    top: 4vh;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    animation: slideIn 1s forwards;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bot {
    width: 94%;
    height: 60vh;
    padding: 3%;
    margin: 3vh 0 0 0;
    display: flex;
    justify-content: center;
}

#botLeft {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.topName {
    font-size: 1.8vw;
    margin: 0.5vw 0 1vw 0;
}

.top10 {
    width: 100%;
    background-color: #baba6e;
    display: flex;
    justify-content: center;

}

#man, #woman {
    width: 45%;
    background-color: #7ad5ec;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    border-radius: 1.7vw;
}

#man::-webkit-scrollbar, #woman::-webkit-scrollbar {display: none}

#woman {background-color: #edd1cb;}

:is(#ManRank, #WomanRank) img {
    width: 14vw;
    height: 14vw;
    margin: 0 0 1vw 0;
}

#botRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:is(#daly, #site) {
    width: 100%;
    height: 48%;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
}

#daly {
    margin: 0 0 2vh 0;
    background-color: #dcf8ed;
}
#site {
    background-color: #ffe8e8;
}

@keyframes slideIn {
    from {left: 100%}
    to {left: 0%;}
}
