body, p {margin: 0;, padding: 0;}
body {scrollbar-width: none;-ms-overflow-style: none;overflow: hidden}
::-webkit-scrollbar {display: none;}
img {width: 1920px;height: 1080px;}
a {text-decoration-line: none;}
a:hover, a:active, a:visited, a:link {color: white;}

#container {
    width: 1920px;
    height: 100vh;
    overflow-y: auto;
}

#page1 {
    width: 1920px;
    height: 100vh;
    background-color: #c2faf4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

#pageImg {
    width: 1920px;
    height: 1080px;
    background-color: #c2faf4;
    display: flex;
    justify-content: center;
    position: absolute;
}

#carousel {
    position: relative;
    width: 1920px;
    height: 1080px;
}

.cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}

.cell.active {
    opacity: 1;
}

#titleLine {
    width: 1350px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 0;
}

#titleSet {
    position: relative;
}

#titleIcon {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconText {
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 4px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleList {
    width: 600px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 300px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listItem {
    color: white;
    font-size: 25px;
    font-weight: inherit;
    text-shadow: 3px 3px 4px #000;
}

#listItemId {font-size: 20px;}

#homeText {
    color: white;
    font-size: 16px;
    text-shadow: 3px 3px 4px #000;
    position: absolute;
    top: 350px;
    left: 100px;
}

#foodList {
    position: absolute;
    left: 0;
}

#menuList {
    width: 300px;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 100px;
    left: -300px;
    transition: left .7s ease-in-out;
    display: flex;
    justify-content: center;
}

#listUp{
    margin: 200px 0 0 0;
    color: white;
    gap: 50px;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

#listUpTitle{
    font-size: 70px;
}

.listUpItem {
    font-size: 30px;
}

#listHover {
    width: 50px;
    height: 100px;
    background-color: goldenrod;
    opacity: 0.7;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 3px #000;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: 45vh;
    left: 0;
    transition: left .7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pageIn {
    from {bottom: -40%;}
    to {bottom: 5%;}
}