@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Jua&family=Nanum+Brush+Script&family=Orbit&family=Poetsen+One&family=Single+Day&display=swap');

a {text-decoration-line: none;}

a:link {color: rgb(103, 163, 255);}

a:visited {color: rgb(103, 163, 255);}

a:hover {color: rgb(50, 132, 255);}

a:active {color: rgb(74, 77, 180);}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Poetsen One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    background-image: url("흰배경.jpg");
    background-size: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.bg {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url("흰배경.jpg");
    background-size: cover;
}

.split-screen {
    width: 100%;
    background-color: #b6d3ff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    /*animation-name: Size;*/
    /*!*animation-duration: 1s;*! 해당 행동을 하는데 시간 */
    /*!*animation-delay: 0.5s;*! 해당행동을 시작하는데 까지 기다리는 시간*/
    /*animation-fill-mode: forwards;*/
    animation:
        Size 1.5s 0.5s forwards, /*위 주석처리한 것을 하나로 줄인 것*/
        MoveRight 1.5s 2.5s forwards;
}

.content {
    color: white;
    font-size: 6vw;
    text-transform: uppercase;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    margin: auto;
    transform: translateY(100vh);
    animation:
            TextInUp 2s 0.5s,
            MoveTextRight 1.5s 2.5s,
            ChangeBg 1.5s 2.5s;
    animation-fill-mode: forwards;
}

.content p {
    margin: 0;
}

.aButton {
    width: 13%;
    height: 7%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1e7f1;
    position: absolute;
    bottom: 17%;
    right: 0;
    z-index: 5;
    opacity: 0;
    border-radius: 50px;
    animation:
            MoveLeft 1.5s 4s,
            Apear 2.5s 4s;
    animation-fill-mode: forwards;
}

@keyframes Size {
    from {width: 100%;}
    to {width: 50%;}
}

/*화면이 오른쪽으로 움직이는 에니메이션*/
@keyframes MoveRight {
    from {left: 0%;}
    to {left: 50%;}
}

@keyframes MoveLeft {
    from {right: 0%;
        opacity: 0;}
    to {right: 30%;
        opacity: 1;}
}

@keyframes MoveTextRight {
    from {left: 0%;}
    to {left: 50%;}
}

@keyframes TextInUp {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ChangeBg {
    to {
        background-image: url("흰배경.jpg");
        background-size: 200%;
        background-position: right center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; /*글씨 투명하게*/
    }
}

@keyframes Apear {
    from {opacity: 0;}
    to {opacity: 1;}

}