nav{
    width: 100%;
    max-width: 500px;
}

nav ul{
    list-style: none;
    z-index: 2;

}
nav a{
    color:#000;
    text-decoration: none;
}

nav > ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:10px;
}

nav > ul > li{
    position: relative;
}


nav > ul > li > a{
    font-size: 20px;font-weight: bold;padding:10px 0;
}


nav > ul > li > a:hover{
    color:#999;
}

nav > ul > li > ul{
    display: none;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    border:1px solid #ddd;
    border-radius: 6px;
    background: #fff;
}

nav > ul > li:hover ul{
    display:block;
}

nav > ul > li  li a{
    display: block; padding:10px 15px;
}

nav > ul > li  li a:hover{
    background:#eee;
}

nav > ul > li > li + li{
    margin-top:5px;

}